.field {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    border-bottom: 1px solid white;

    &_name {
        width: 150px;
    }
    &_input {
        border: none;
        background-color: inherit;
        text-align: right;
    }
}