.field {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-m);
    border-bottom: 1px solid white;

    &_name {
        width: 150px;
    }
    &_container {
        border: none;
        background-color: inherit;
        text-align: right;
        &_input {
            border: none;
            background-color: inherit;
            text-align: right;
        }

        &_errorMessage {
            position: absolute;
            top: 5px;
            transform: translateX(200px);
            background-color: var(--white);
            color: var(--accent);
            font-size: var(--space-ml);
            text-decoration: underline;
            line-height: var(--space-sl);
            text-align: left;
            border: 1px solid black;
            border-radius: var(--radius-m);
            padding: var(--space-s);
        }
    }
}
