.Forum {
    background-image: url('/src/assets/bg/bg.webp');
    background-size: 40%;
    width: 100vw;
    height: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forumOverlay {
    width: 60%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
}
