@font-face {
    font-family: 'FredokaOneFont';
    src: url('src/assets/fonts/FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: 40%;
    position: relative;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-family: var(--font-family-custom);
    text-align: center;
    padding-top: 40px;

    img {
        width: 250px;
    }

    nav {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-top: 40px;
    }
}

.appLink {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 40px;
    line-height: 70px;
    text-decoration: none;
    color: var(--secondary);
    text-shadow: 5px 5px 0 #510f07, -3px -3px 0 #510f07, 3px -3px 0 #510f07,
        -3px 3px 0 #510f07, 0px 3px 3px #510f07;

    &:hover {
        color: #f76f3d;
    }
}

.mainFooter {
    color: #fff7e0;
    margin: auto 40px 40px auto;
    font-size: 25px;
    text-shadow: 2px 2px 0 #510f07, -2px -2px 0 #510f07, 2px -2px 0 #510f07,
        -2px 2px 0 #510f07, 0px 2px 3px #510f07;
}

.customSelectWrap {
    position: relative;

    .customSelect {
        width: 100%;
        padding: 20px 5px 5px;
        border: 2px solid chocolate;
        border-radius: var(--radius-l);
        background: antiquewhite;
        color: #000;
        font-size: 16px;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    .customSelectLabel {
        font-size: 14px;
        position: absolute;
        left: 10px;
        top: 1px;
        color: #5d5d5d;
        pointer-events: none;
    }
}
