@font-face {
    font-family: 'MyCustomFont';
    src: url('src/assets/fonts/FredokaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  .Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/src/assets/bg/bg.webp');
    background-size: 40%;
  }
  
  .mainMenu {
    list-style-type: none;
    width: 300px;
    font-family: 'MyCustomFont', sans-serif;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    height: 90vh;
    padding-top: 50px;
  
    ul {
      list-style-type: none;
      padding-left: 0;
      display: flex;
      flex-direction: column;
      margin-top: 40px;
    }
  
    a {
      text-decoration: none;
      color: #fff7e0;
      text-shadow: 5px 5px 0 #510f07, -3px -3px 0 #510f07, 3px -3px 0 #510f07,
        -3px 3px 0 #510f07, 0px 3px 3px #510f07;
  
      &:hover {
        color: #f76f3d;
      }
    }
  }
  
  .mainFooter {
    color: #fff7e0;
    margin: auto 40px 40px auto;
    font-size: 25px;
    text-shadow: 2px 2px 0 #510f07, -2px -2px 0 #510f07, 2px -2px 0 #510f07,
      -2px 2px 0 #510f07, 0px 2px 3px #510f07;
  }
  
  .snakeLayout {
    margin-bottom: 40px;
  }
  