.App_dark_theme {
    // white
    --white: #fff;

    // black
    --black: #000;

    // basic
    --basic: #643301;

    // secondar
    --secondary: #fbf7f4;

    // accent
    --accent: #3d0601;

    // button text
    --buttons: #fff7e0;

    --outline: #510f07;
}
