.App_light_theme {
    // white
    --white: #fff;

    // black
    --black: #000;

    // basic
    --basic: #ff992f;

    // secondary
    --secondary: #fbf7f4;

    // accent
    --accent: #ff1a05;

    // button text
    --buttons: #fff7e0;

    --outline: #510f07;
}
