.App_light_theme {
    // white
    --white: #fff;

    // black
    --black: #000;

    // basic
    --basic: #ff992f;

    // secondary
    --secondary: #fbf7f4;

    // accent
    --accent: #ff1a05;
}
