.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--secondary);

    width: 100%;
    height: 100%;

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &_title {
            font: var(--font-l);
            margin-bottom: var(--space-xl);
        }

        &_fields {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: var(--space-xl);

            .label {
                position: relative;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 8px;

                font: var(--font-m);

                width: calc(var(--space-s) * 90);

                .field {
                    margin-left: var(--space-xl);
                }

                .error {
                    position: absolute;
                    color: var(--accent);
                    right: calc(-1 * var(--space-m));
                    top: calc(-1 * var(--space-s));
                    z-index: 2;
                    background: var(--secondary);
                    border: 1px solid var(--basic);
                    border-radius: 10px;
                    padding: var(--space-xs) var(--space-s);

                    font: var(--font-s);
                }
            }
        }

        &_buttons {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: stretch;
            width: calc(var(--space-s) * 90);

            & > Button:first-child {
                margin-bottom: var(--space-m);
            }
        }


    }

}