@use 'src/app/styles/variables/global.scss' as *;

.applink {
    font-style: normal;
    font-weight: 500;
    font-size: var(--font-size-m);
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
