.errorBoundary {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    background-color: rgb(250, 34, 34);
    opacity: 0.5;
}